DB_URL=postgresql+psycopg2://macbook@localhost:5432/jobs_db
RAW_CSV_PATH=data/data.csv
PROCESSED_CSV_PATH=data/processed/jobs_clean.csv

# interval | cron
SCHEDULE_TYPE=cron

# used when SCHEDULE_TYPE=interval
PIPELINE_INTERVAL_MINUTES=60

# used when SCHEDULE_TYPE=cron (daily)
PIPELINE_CRON_HOUR=2
PIPELINE_CRON_MINUTE=0
